In [1]:
datatype

# data types

NameError: name 'datatype' is not defined

In [2]:
num=34
type(num)

int

In [3]:
array=a
type(array)

NameError: name 'a' is not defined

In [5]:
a_eng_statement='hey bro was up'
type(a_eng_statement)

str

In [6]:
# list
#list are ordered ,mutable ,collection of differet datatype
lst = ["hi",45,[4.5,4.54],5,7 ]
print(lst)

['hi', 45, [4.5, 4.54], 5, 7]

In [8]:
lst[1]

45

In [9]:
lst[3]

5

In [10]:
#slicing and dicing
lst[1:] #will print elements starting from add 1 till last

[45, [4.5, 4.54], 5, 7]

In [11]:
lst[-2]

5

In [12]:
lst[0:-1]

['hi', 45, [4.5, 4.54], 5]

In [16]:
lst[-1]

7

In [17]:
#by default functions in list
lst.count(45)

1

In [18]:
lst.append(45)

In [19]:
print(lst)

['hi', 45, [4.5, 4.54], 5, 7, 45]

In [20]:
lst.count(45)

2

In [22]:
lst.pop(0) #incase index is not provided then by default last elemet in popped

'hi'

In [23]:
print(lst)

[45, [4.5, 4.54], 5, 7, 45]

In [24]:
#len of list
len(lst)

5

In [25]:
lst.reverse()

In [26]:
lst

[45, 7, 5, [4.5, 4.54], 45]

# dictionary

In [27]:
#dict
dit = {"my_house":"mandakini",
      "plot_no":"c-89",
      "no._of_people":9}

In [29]:
dit["my_house"]

'mandakini'

In [32]:
dit.get("my_house")  #alternet way

'mandakini'

In [33]:
dit["land mark"]

KeyError: 'land mark'

In [35]:
dit.get("land_mark")  #no op using get when theres no mentioned data in dict

In [36]:
#google methods/funtion in dict
dit.values()

dict_values(['mandakini', 'c-89', 9])

In [37]:
dit.keys()

dict_keys(['my_house', 'plot_no', 'no._of_people'])

In [38]:
# there are many such ,searchfor them

# # sets

In [1]:
sets = {"hi","this",1,3,3,45,67.5}
sets

{1, 3, 45, 67.5, 'hi', 'this'}

In [2]:
#sorts is such ord so that no duplicate element is printed
sets = {"hi","this",1,3,3,45,67.5,"this",67.5} #here there r 2 duplicate elements 
sets

{1, 3, 45, 67.5, 'hi', 'this'}

In [3]:
#here the duplicate elements r been eleminated

In [4]:
#methods in the sets
#google available methods/func of sets and perform
#sets.funtion

# TUPLES

In [9]:
#tuple = ordered seq of immutable objects
tup ={'i','like',"your","taste ","of","content"}
tup

{'content', 'i', 'like', 'of', 'taste ', 'your'}

In [15]:
#it has only 2 methods count nd index
#delete tup
del tup #deleted
tup

NameError: name 'tup' is not defined

# boolean

In [12]:
#true or false

In [16]:
a= True
f=False
a

True

In [18]:
f

False

# variable Assignment

In [19]:
str

str

# operators

In [20]:
a=10
b=20
a==b

False

In [21]:
a!=b

True

In [22]:
a>=b

False

In [23]:
b<=b

True

In [24]:
#logical comparison operator

In [25]:
print(a)

10

In [26]:
print(b)

20

In [27]:
a==b and b!=a

False

In [28]:
a==b or b!=a

True

In [30]:
not(a==b and b!=a)  #its like negation of true value

True

In [32]:
#basic operation
add=a+b
add

30

In [33]:
sub=a-b
sub

-10

In [34]:
div = a/b
div

0.5

In [35]:
mul= a*b

In [36]:
mul

200

In [ ]:
S